<div class="loading-animation">
  <section class="home">
    <div>
      <div class="section">
        <div class="content introduce">
          hello.<br />
          my name is do won kim,
          <a href="https://www.toappto.com/">toappto</a>it is blog<br /><br />
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. <br />
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum is simply dummy text of the printing and
          typesetting industry.
        </div>
      </div>

      <div class="section">
        <span class="title"
          ><span class="label-emoji">✍️</span>&nbsp;최근 게시물</span
        >
        <div class="content">
          <table class="catalogue">
            <tr>
              {% assign sorted = site.pages | sort: 'date' | reverse %} {% for
              page in sorted limit:3 %} {% if page.type == 'tech' or page.type
              == 'life' %} {% include post-card.html %} {% endif %} {% endfor %}
            </tr>
          </table>
        </div>
      </div>

      <div class="section">
        <span class="title"
          ><span class="label-emoji">🙌</span>&nbsp;채용정보</span
        >
        <div class="content">
          <img src="/meta/dummy_recruit_new.png" />
          <img src="/meta/dummy_recruit_old.png" />
        </div>
      </div>
    </div>
  </section>
</div>
